# Godot 4+ specific ignores
.godot/
/android/
.vs/ProjectEvaluation/coin dash 2.projects.v9.bin
.vs/ProjectEvaluation/coin dash 2.metadata.v9.bin
.vs/COIN DASH 2/v17/DocumentLayout.json
.vs/COIN DASH 2/v17/DocumentLayout.backup.json
.vs/COIN DASH 2/v17/.suo
.vs/COIN DASH 2/v17/.futdcache.v2
.vs/COIN DASH 2/FileContentIndex/ffa666ef-0295-4c24-ad89-f7bcc627edb2.vsidx
.vs/COIN DASH 2/FileContentIndex/d3d7d619-480c-4569-9312-cdd069cd2628.vsidx
.vs/COIN DASH 2/FileContentIndex/abed79ff-5c8f-4789-a2d1-4c1acefe94e7.vsidx
.vs/COIN DASH 2/FileContentIndex/abafbcd9-9c5b-4b62-8ec5-3d84b1de9051.vsidx
.vs/COIN DASH 2/FileContentIndex/793acd7a-b865-4147-85b2-e6248d88cad9.vsidx
.vs/COIN DASH 2/FileContentIndex/7398076f-775d-4d5d-b7a7-4a38749c845e.vsidx
.vs/COIN DASH 2/FileContentIndex/2fa772d5-5875-4123-bafc-e2189299b483.vsidx
.vs/COIN DASH 2/FileContentIndex/29812b2f-0155-4c98-85c3-63d5c6883cad.vsidx
.vs/COIN DASH 2/DesignTimeBuild/.dtbcache.v2
.vs/COIN DASH 2/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
.vs/COIN DASH 2/CopilotIndices/17.14.1290.42047/CodeChunks.db
.vs/COIN DASH 2/CopilotIndices/17.14.1290.42047/CodeChunks.db
.vs/COIN DASH 2/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
.vs/COIN DASH 2/DesignTimeBuild/.dtbcache.v2
.vs/COIN DASH 2/FileContentIndex/29812b2f-0155-4c98-85c3-63d5c6883cad.vsidx
.vs/COIN DASH 2/FileContentIndex/7398076f-775d-4d5d-b7a7-4a38749c845e.vsidx
.vs/COIN DASH 2/FileContentIndex/793acd7a-b865-4147-85b2-e6248d88cad9.vsidx
.vs/COIN DASH 2/FileContentIndex/ffa666ef-0295-4c24-ad89-f7bcc627edb2.vsidx
.vs/COIN DASH 2/v17/.futdcache.v2
.vs/COIN DASH 2/v17/.suo
.vs/COIN DASH 2/v17/DocumentLayout.backup.json
.vs/COIN DASH 2/v17/DocumentLayout.json
.vs/ProjectEvaluation/coin dash 2.metadata.v9.bin
.vs/ProjectEvaluation/coin dash 2.projects.v9.bin
.vs/COIN DASH 2/CopilotIndices/17.14.1290.42047/CodeChunks.db
/.vs
